h1 {
    color: #1dc11d;
    font-weight: 900;
    font-family: MV Boli;
    background: black;
}

a{text-decoration: none;
    color: inherit;
}

.lien{ display: flex;
    margin: auto;
    border-radius: 5px;
    font-size: 30px;
    width: fit-content;
    background-color: #1dc11d;
    color: white;
    padding: 15px;
}

.lien:hover{background-color: aquamarine;

}

img{
    margin-left: 15px;
}